*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --black: (#0D0520);
  --write: (#BAACDD);
  --blue: (#9CA5F8);
  --dark: (#27274d);
  --gray: (#515151);
}

html {
  scroll-behavior: smooth;
}

body * {
  font-family: 'JetBrains Mono', sans-serif;
  color: #BAACDD;
}

body {
  height: 100vh;
  background: #1F0439;
  overflow-x: hidden;
}

#menu {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  padding: 12px 8px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background-color: #351456;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  z-index: 2;
}


.menu ul {
  background-color: blueviolet;
  list-style: none;
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
  font-size: 50px;
}

.p1conti1 {
  background: #0D0520;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 270px 50px 220px 50px;
  gap: 20px;
  z-index: 99;
  position: relative;
}

.p1conti1 h1 {
  border-right: 4px solid;
  width: 31ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(20),
    blinking 0.3s infinite step-end alternate;
}

.p1conti1 img:hover {
  transform: scale(1.05);
  transition: .6s;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

.p1conti1 p {
  font-weight: 100;
  font-size: x-large;
}

.p2conti1 {
  background-color: #1F0439;
  display: flex;
  flex-direction: column;
  padding: 100px 95px 100px 95px;
  gap: 50px;
  max-width: 800px;
}

.p2conti1 a img:hover {
  transform: scale(1.20);
  transition: .6s;
}

.p3conti1 {
  background: #0D0520;
  display: flex;
  align-items: center;
  flex-direction: center;
  transform: rotateX(-200%);
  padding: 25px 95px 100px 195px;
  gap: 250px;
  position: relative;
}

.h2p {
  background: #0D0520;
  padding: 50px 25px 50px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/** Corregir erro de alinhação **/


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.p3conti1 .box {
  display: flex;
  flex-direction: column;
  align-items: column;
}

.p3conti1 .box-circle {
  display: flex;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}

.p3conti1 .box-circle svg {
  width: 150px;
  height: 150px;
  animation: spin 5s linear infinite;
}

circle {
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-width: 10px;
  transform: translate(5px, 5px);
  stroke-dasharray: 44;

}

circle:nth-child(1) {
  stroke-dashoffset: 440;
  stroke: #0D0520;
}


circle:nth-child(2) {
  stroke-dashoffset: 70;
  stroke: rgb(255, 255, 47);
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 105%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

footer {
  display: flex;
  padding: 20px 100px 20px 100px;
  background: #0D0520;
}

.list {}