*{
    background-color: #d793f7;
}
.TAbbr{
    padding: 15px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #d793f7;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px black ;
    
}
.ArtP {
    padding: 10px;
    border: 1px solid;
    border-radius: 15px;
    background-color: #cc6cf8;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px black ;
}
.ArtP1 {
    padding: 10px;
    border: 1px solid;
    border-radius: 15px;
    background-color: #cc6cf8;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px black ;
    text-align: center;
    
}
.ArtP2 {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #3500f55d;
    box-shadow: 1px 1px 5px black;
}