*{
    margin: 0;
}
/*Menu*/
#menu {

        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
}
    #menu{
        
    }
      #menu li {
        display: inline-block;
      }
      
      #menu li a {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: #333;
      }
      
      #menu li a:hover {
        background-color: #333;
        color: #fff;
      }
      .Submenu{
        display: none;
        position: absolute;
        background-color: #fff;
        padding: 10px;
      }
      #menu li:hover ul.Submenu{
        display: block;
      }

    
/*Alinhagem de texto ou so o texto do primeiro paragrafo*/
div.bloco1{
    box-sizing:border-box;
    background:rgb(136, 198, 252);
}

div p.text1{
     
    justify-content: center;
    text-align: justify;
    width: 50%; 
    
}

div h1.T1{

    font-family:'Courier New', Courier, monospace;
    color: yellow;
    display:inline;
    font-size: 90px;
   
}
